
VITE_API_BASE_URL=http://localhost:8000
GEMINI_API_KEY=AIzaSyBwekEMBVLbSQ3xfbK8NZSMpugwf9xTRXQ
GEMINI_MODEL=gemini-2.5-pro
GOOGLE_CLIENT_ID=162417719468-uf7snhk5095e3ek40ol6dl7phe5a7tfi.apps.googleusercontent.com
VITE_GEMINI_LIVE_MODEL=gemini-2.5-flash-native-audio-preview-12-2025
